/* Themes */
/* Variables */
/* Resposive mixins */
html {
  scroll-behavior: smooth;
  width: 100%;
  background-color: #fafaf0;
  color: #072849;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

img {
  max-width: 80vw;
  height: auto;
}

/* Re-usable extensions */
.header .nav .nav-wrapper a:link, .header .nav .nav-wrapper a:visited, .header .nav .nav-wrapper a:hover, .header .nav .nav-wrapper a:active {
  text-decoration: none;
  color: #072849;
}

#who .who-wrapper, #what .what-wrapper, #where .where-wrapper, #home .home-wrapper {
  display: flex;
}
@media (max-width: 767px) {
  #who .who-wrapper, #what .what-wrapper, #where .where-wrapper, #home .home-wrapper {
    padding: 5vw 5vw;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #who .who-wrapper, #what .what-wrapper, #where .where-wrapper, #home .home-wrapper {
    padding: 5vw 8vw;
  }
}
@media (min-width: 1024px) {
  #who .who-wrapper, #what .what-wrapper, #where .where-wrapper, #home .home-wrapper {
    padding: 5vw 10vw;
  }
}

#home .home-wrapper .img-content {
  padding: 2vw 3vw;
  flex: 0.45;
}
#home .home-wrapper .img-content img {
  width: 100%;
  height: auto;
}
#home .home-wrapper .text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vw 3vw;
  flex: 0.55;
}
#home .home-wrapper .text-wrapper .title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
  opacity: 0.7;
}
#home .home-wrapper .text-wrapper .title-wrapper span {
  text-transform: uppercase;
}
#home .home-wrapper .text-wrapper .title-wrapper::before {
  height: 2px;
  width: 10%;
  display: inline-block;
  content: "";
  background: #072849;
  margin-right: 20px;
}
#home .home-wrapper .text-wrapper .text-content {
  padding-bottom: 20px;
}
#home .home-wrapper .text-wrapper .text-content .quote {
  margin: 0;
  padding-bottom: 40px;
}

/* Responsive parts */
@media (max-width: 767px) {
  .home-wrapper {
    flex-direction: column-reverse;
  }
  .home-wrapper .text-wrapper .title-wrapper span {
    font-size: 1.5rem;
  }
  .home-wrapper .text-wrapper .text-content .quote {
    font-size: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .home-wrapper {
    flex-direction: row;
  }
  .home-wrapper .text-wrapper .title-wrapper span {
    font-size: 1.7rem;
  }
  .home-wrapper .text-wrapper .text-content .quote {
    font-size: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .home-wrapper {
    flex-direction: row;
  }
  .home-wrapper .text-wrapper .title-wrapper span {
    font-size: 2rem;
  }
  .home-wrapper .text-wrapper .text-content .quote {
    font-size: 3rem;
  }
}
.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header .title-wrapper {
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .nav {
  flex: 0.2;
}
.header .nav .nav-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header .nav .nav-wrapper .nav-link {
  text-align: center;
  padding-bottom: 40px;
}
.header .nav .nav-wrapper .nav-link span {
  display: block;
  padding-bottom: 10px;
}
.header .nav .nav-wrapper .nav-link:after {
  height: 2px;
  width: 50%;
  display: inline-block;
  content: "";
  background: #072849;
  -o-transition: width 0.3s ease-out;
  -ms-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
.header .nav .nav-wrapper .nav-link:hover {
  color: rgba(7, 40, 73, 0.7);
}
.header .nav .nav-wrapper .nav-link:hover:after {
  width: 80%;
  background: rgba(7, 40, 73, 0.7);
}

/* Responsive parts */
@media (max-width: 767px) {
  .header .title-wrapper span {
    font-size: 2rem;
  }
  .header .nav-wrapper {
    flex-direction: column;
  }
  .header .nav-wrapper .nav-link span {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header .title-wrapper span {
    font-size: 2.5rem;
  }
  .header .nav-wrapper {
    flex-direction: row;
  }
  .header .nav-wrapper .nav-link span {
    font-size: 1.7rem;
  }
}
@media (min-width: 1024px) {
  .header .title-wrapper span {
    font-size: 3rem;
  }
  .header .nav-wrapper {
    flex-direction: row;
  }
  .header .nav-wrapper .nav-link span {
    font-size: 2rem;
  }
}
#where .where-wrapper .title-wrapper {
  padding-bottom: 20px;
}
#where .where-wrapper .title-wrapper span {
  font-size: 2rem;
}
#where .where-wrapper .content-wrapper {
  display: flex;
  flex-direction: column;
}
#where .where-wrapper .content-wrapper .text-content {
  padding-bottom: 20px;
}
#where .where-wrapper .content-wrapper .img-content img {
  width: 100%;
  height: auto;
}

#what .what-wrapper .title-wrapper {
  padding-bottom: 20px;
}
#what .what-wrapper .title-wrapper span {
  font-size: 2rem;
}
#what .what-wrapper .content-wrapper {
  display: flex;
  flex-direction: column;
}
#what .what-wrapper .content-wrapper .text-content {
  padding-bottom: 20px;
}
#what .what-wrapper .content-wrapper .img-content img {
  width: 100%;
  height: auto;
}

#who .who-wrapper .title-wrapper {
  padding-bottom: 20px;
}
#who .who-wrapper .title-wrapper span {
  font-size: 2rem;
}
#who .who-wrapper .content-wrapper {
  display: flex;
  flex-direction: column;
}
#who .who-wrapper .content-wrapper .text-content {
  padding-bottom: 20px;
}
#who .who-wrapper .content-wrapper .img-content img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=styles.css.map */
