/* Themes */
.theme-light {
  --theme-text: #072849;
  --theme-bg: #f7f7e9;
  --theme-bg-popup: #fafaf5;
  --theme-highlight: #034d5e;
  --theme-highlight-RGB: 3, 77, 94;
}

.theme-dark {
  --theme-text: #f7f7e9;
  --theme-bg: #072849;
  --theme-bg-popup: #034d5e;
  --theme-highlight: #fafaf5;
  --theme-highlight-RGB: 250, 250, 245;
}

.theme-olivia {
  --theme-text: #f1beb0;
  --theme-bg: #2b2b2b;
  --theme-bg-popup: #303030;
  --theme-highlight: #f1beb0;
  --theme-highlight-RGB: 241, 190, 176;
}

/* Variables */
/* Resposive vars */
/* Global page elements*/
html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--theme-bg);
  color: var(--theme-text);
}
body::-webkit-scrollbar {
  width: 0.45rem;
}
body::-webkit-scrollbar-track {
  background: #a0a0a0;
}
body::-webkit-scrollbar-thumb {
  background: #1e1e24;
}

/* Responsive mixins */
/* Re-usable extensions */
#where .where-wrapper .content-wrapper .cards-wrapper a:link, .header .nav .nav-wrapper a:link, #where .where-wrapper .content-wrapper .cards-wrapper a:visited, .header .nav .nav-wrapper a:visited, #where .where-wrapper .content-wrapper .cards-wrapper a:hover, .header .nav .nav-wrapper a:hover, #where .where-wrapper .content-wrapper .cards-wrapper a:active, .header .nav .nav-wrapper a:active {
  text-decoration: none;
  color: var(--theme-text);
}

#who .who-wrapper .title-wrapper::before, #what .what-wrapper .title-wrapper::before, #where .where-wrapper .title-wrapper::before, #home .home-wrapper .title-wrapper::before {
  height: 2px;
  width: 3rem;
  display: inline-block;
  content: "";
  background: var(--theme-text);
  margin-right: 20px;
}

#what .what-wrapper .content-wrapper .carousel-button-top, #what .what-wrapper .content-wrapper .carousel-button-left, #what .what-wrapper .content-wrapper .carousel-button-right, #what .what-wrapper .content-wrapper .carousel-wrapper .carousel-content .item-wrapper .img-wrapper img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#who, #what, #where, #home {
  width: 100%;
  min-height: 100%;
}

/* Group common code with mixins here */
#home .home-wrapper {
  display: flex;
}
#home .home-wrapper .title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2vw 3vw;
  opacity: 0.7;
}
#home .home-wrapper .title-wrapper span {
  text-transform: uppercase;
}
#home .home-wrapper .img-content {
  padding: 2vw 3vw;
  flex: 0.45;
}
#home .home-wrapper .img-content img {
  width: 100%;
  height: auto;
}
#home .home-wrapper .text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vw 3vw;
  flex: 0.55;
}
#home .home-wrapper .text-wrapper .title-wrapper {
  padding: 0;
  padding-bottom: 20px;
}
#home .home-wrapper .text-wrapper .text-content {
  padding-bottom: 20px;
}
#home .home-wrapper .text-wrapper .text-content .quote {
  margin: 0;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  #home .home-wrapper {
    padding: 5vw calc(5vw - 0.45rem) 5vw 5vw;
    width: calc(100vw - 10vw - 0.45rem);
  }
  #home .home-wrapper .title-wrapper span {
    font-size: 1.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #home .home-wrapper {
    padding: 5vw calc(8vw - 0.45rem) 5vw 8vw;
    width: calc(100vw - 16vw - 0.45rem);
  }
  #home .home-wrapper .title-wrapper span {
    font-size: 1.7rem;
  }
}
@media (min-width: 1025px) {
  #home .home-wrapper {
    padding: 5vw calc(10vw - 0.45rem) 5vw 10vw;
    width: calc(100vw - 20vw - 0.45rem);
  }
  #home .home-wrapper .title-wrapper span {
    font-size: 2rem;
  }
}

/* Responsive parts */
@media (max-width: 768px) {
  .home-wrapper {
    flex-direction: column-reverse;
  }
  .home-wrapper .text-wrapper .text-content .quote {
    font-size: 2rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .home-wrapper {
    flex-direction: column-reverse;
  }
  .home-wrapper .text-wrapper .text-content .quote {
    font-size: 2.5rem;
  }
}
@media (min-width: 1025px) {
  .home-wrapper {
    flex-direction: row;
  }
  .home-wrapper .text-wrapper .text-content .quote {
    font-size: 3rem;
  }
}
.header {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header .title-wrapper {
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .nav {
  flex: 0.2;
}
.header .nav .nav-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header .nav .nav-wrapper .nav-link {
  text-align: center;
  padding-bottom: 40px;
}
.header .nav .nav-wrapper .nav-link span {
  display: block;
  padding-bottom: 10px;
}
.header .nav .nav-wrapper .nav-link:after {
  height: 2px;
  width: 50%;
  display: inline-block;
  content: "";
  background: var(--theme-text);
  -o-transition: width 0.3s ease-out;
  -ms-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
.header .nav .nav-wrapper .nav-link:hover {
  color: rgba(var(--theme-text), 0.7);
}
.header .nav .nav-wrapper .nav-link:hover:after {
  width: 80%;
  background: rgba(var(--theme-text), 0.7);
}

/* Responsive parts */
@media (max-width: 768px) {
  .header .title-wrapper span {
    font-size: 2rem;
  }
  .header .nav-wrapper {
    flex-direction: column;
  }
  .header .nav-wrapper .nav-link span {
    font-size: 1.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .header .title-wrapper span {
    font-size: 2.5rem;
  }
  .header .nav-wrapper {
    flex-direction: row;
  }
  .header .nav-wrapper .nav-link span {
    font-size: 1.7rem;
  }
}
@media (min-width: 1025px) {
  .header .title-wrapper span {
    font-size: 3rem;
  }
  .header .nav-wrapper {
    flex-direction: row;
  }
  .header .nav-wrapper .nav-link span {
    font-size: 2rem;
  }
}
#where .where-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 10vw);
}
#where .where-wrapper .title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2vw 3vw;
  opacity: 0.7;
}
#where .where-wrapper .title-wrapper span {
  text-transform: uppercase;
}
#where .where-wrapper .content-wrapper {
  display: flex;
  height: 100%;
}
#where .where-wrapper .content-wrapper .img-content {
  padding: 2vw 3vw;
}
#where .where-wrapper .content-wrapper .img-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#where .where-wrapper .content-wrapper .cards-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2vw 3vw;
  flex: 1;
}
#where .where-wrapper .content-wrapper .cards-wrapper .card {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--theme-bg-popup);
  box-shadow: 0px 0px 5px rgba(var(--theme-highlight-RGB), 10%);
  align-items: center;
}
#where .where-wrapper .content-wrapper .cards-wrapper .card:not(:first-child) {
  margin-top: 5%;
}
#where .where-wrapper .content-wrapper .cards-wrapper .card .icon-label {
  flex: 1;
  display: flex;
  justify-content: center;
}
#where .where-wrapper .content-wrapper .cards-wrapper .card .icon-label span {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}
#where .where-wrapper .content-wrapper .cards-wrapper .card:hover {
  background-color: var(--theme-bg-popup);
  box-shadow: 0px 0px 5px rgba(var(--theme-highlight-RGB), 20%);
  cursor: pointer;
}
@media (max-width: 768px) {
  #where .where-wrapper {
    padding: 5vw calc(5vw - 0.45rem) 5vw 5vw;
    width: calc(100vw - 10vw - 0.45rem);
  }
  #where .where-wrapper .title-wrapper span {
    font-size: 1.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #where .where-wrapper {
    padding: 5vw calc(8vw - 0.45rem) 5vw 8vw;
    width: calc(100vw - 16vw - 0.45rem);
  }
  #where .where-wrapper .title-wrapper span {
    font-size: 1.7rem;
  }
}
@media (min-width: 1025px) {
  #where .where-wrapper {
    padding: 5vw calc(10vw - 0.45rem) 5vw 10vw;
    width: calc(100vw - 20vw - 0.45rem);
  }
  #where .where-wrapper .title-wrapper span {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .where-wrapper .content-wrapper {
    flex-direction: column;
  }
  .where-wrapper .content-wrapper .img-content {
    min-height: 50vh;
  }
  .where-wrapper .content-wrapper .card .icon {
    height: 40px;
    width: 40px;
  }
  .where-wrapper .content-wrapper .card .icon-label {
    font-size: 1.1rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .where-wrapper .content-wrapper {
    flex-direction: column;
  }
  .where-wrapper .content-wrapper .img-content {
    min-height: 50vh;
  }
  .where-wrapper .content-wrapper .card .icon {
    height: 50px;
    width: 50px;
  }
  .where-wrapper .content-wrapper .card .icon-label {
    font-size: 1.3rem;
  }
}
@media (min-width: 1025px) {
  .where-wrapper .content-wrapper {
    flex-direction: row;
  }
  .where-wrapper .content-wrapper .img-content {
    flex: 1;
  }
  .where-wrapper .content-wrapper .icon {
    height: 80px;
    width: 80px;
  }
  .where-wrapper .content-wrapper .icon-label {
    font-size: 1.5rem;
  }
}
#what .what-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 2vw;
}
#what .what-wrapper .title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2vw 3vw;
  opacity: 0.7;
}
#what .what-wrapper .title-wrapper span {
  text-transform: uppercase;
}
#what .what-wrapper .title-wrapper {
  padding-bottom: 4vw;
}
#what .what-wrapper .content-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
#what .what-wrapper .content-wrapper .section-bg {
  position: absolute;
  height: 100%;
  width: calc(100vw - 0.45rem);
  z-index: -1;
  background-color: var(--theme-bg-popup);
}
#what .what-wrapper .content-wrapper .carousel-wrapper {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: center;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
#what .what-wrapper .content-wrapper .carousel-wrapper .carousel-content {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  height: 80vh;
  top: 0;
  left: 0;
  transition: left 300ms ease-out;
}
#what .what-wrapper .content-wrapper .carousel-wrapper .carousel-content .item-wrapper {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#what .what-wrapper .content-wrapper .carousel-wrapper .carousel-content .item-wrapper .img-wrapper {
  height: 90%;
  width: 100%;
  background-color: var(--theme-bg-popup);
}
#what .what-wrapper .content-wrapper .carousel-wrapper .carousel-content .item-wrapper .img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
  transition: transform 200ms;
}
#what .what-wrapper .content-wrapper .carousel-wrapper .slide-tracker-wrapper {
  display: flex;
  flex-direction: row;
  height: 4vh;
  align-items: center;
}
#what .what-wrapper .content-wrapper .carousel-wrapper .slide-tracker-wrapper .slide-tracker-box {
  background-color: rgba(180, 180, 180, 0.5);
  width: 10px;
  height: 10px;
  margin: 0 10px;
}
#what .what-wrapper .content-wrapper .carousel-wrapper .slide-tracker-wrapper .current-item {
  background-color: rgba(180, 180, 180, 0.8);
}
#what .what-wrapper .content-wrapper .carousel-button-top, #what .what-wrapper .content-wrapper .carousel-button-left, #what .what-wrapper .content-wrapper .carousel-button-right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 1.5rem;
  background-color: rgba(180, 180, 180, 0.5);
  z-index: 1;
  cursor: pointer;
}
#what .what-wrapper .content-wrapper .carousel-button-top:hover, #what .what-wrapper .content-wrapper .carousel-button-left:hover, #what .what-wrapper .content-wrapper .carousel-button-right:hover {
  background-color: rgba(180, 180, 180, 0.8);
}
#what .what-wrapper .content-wrapper .carousel-button-right {
  right: -5vw;
}
#what .what-wrapper .content-wrapper .carousel-button-left {
  left: -5vw;
}
#what .what-wrapper .content-wrapper .carousel-button-top {
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  display: none;
}
@media (max-width: 768px) {
  #what .what-wrapper {
    padding: 5vw calc(5vw - 0.45rem) 5vw 5vw;
    width: calc(100vw - 10vw - 0.45rem);
  }
  #what .what-wrapper .title-wrapper span {
    font-size: 1.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #what .what-wrapper {
    padding: 5vw calc(8vw - 0.45rem) 5vw 8vw;
    width: calc(100vw - 16vw - 0.45rem);
  }
  #what .what-wrapper .title-wrapper span {
    font-size: 1.7rem;
  }
}
@media (min-width: 1025px) {
  #what .what-wrapper {
    padding: 5vw calc(10vw - 0.45rem) 5vw 10vw;
    width: calc(100vw - 20vw - 0.45rem);
  }
  #what .what-wrapper .title-wrapper span {
    font-size: 2rem;
  }
}

/* Responsive parts */
@media (max-width: 768px) {
  #what .content-wrapper .section-bg {
    left: -5vw;
  }
  #what .content-wrapper .carousel-button-top {
    display: flex !important;
  }
  #what .content-wrapper .carousel-content .item-wrapper {
    width: 90vw;
  }
  #what .content-wrapper .carousel-content .item-wrapper .rotated-image {
    transform: rotate(90deg) translate(0, -100%);
    transform-origin: top left;
    width: calc(80vh * 90 / 100) !important;
    height: 90vw !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #what .content-wrapper .section-bg {
    left: -8vw;
  }
  #what .content-wrapper .carousel-content .item-wrapper {
    width: 84vw;
  }
}
@media (min-width: 1025px) {
  #what .content-wrapper .section-bg {
    left: -10vw;
  }
  #what .content-wrapper .carousel-content .item-wrapper {
    width: 80vw;
  }
}
#who .who-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 10vw);
}
#who .who-wrapper .title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2vw 3vw;
  opacity: 0.7;
}
#who .who-wrapper .title-wrapper span {
  text-transform: uppercase;
}
#who .who-wrapper .content-wrapper {
  display: flex;
  align-items: stretch;
  height: 100%;
  margin: 2vw 3vw;
  background-color: var(--theme-bg-popup);
  box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.2);
}
#who .who-wrapper .content-wrapper .text-content {
  padding: 2vw 3vw;
  flex: 1;
}
#who .who-wrapper .content-wrapper .text-content .quote {
  padding: 20px 0;
  margin: 0;
}
#who .who-wrapper .content-wrapper .spacing-bar {
  background: var(--theme-highlight);
}
#who .who-wrapper .content-wrapper .img-content {
  padding: 2vw 3vw;
  flex: 1;
}
#who .who-wrapper .content-wrapper .img-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  #who .who-wrapper {
    padding: 5vw calc(5vw - 0.45rem) 5vw 5vw;
    width: calc(100vw - 10vw - 0.45rem);
  }
  #who .who-wrapper .title-wrapper span {
    font-size: 1.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #who .who-wrapper {
    padding: 5vw calc(8vw - 0.45rem) 5vw 8vw;
    width: calc(100vw - 16vw - 0.45rem);
  }
  #who .who-wrapper .title-wrapper span {
    font-size: 1.7rem;
  }
}
@media (min-width: 1025px) {
  #who .who-wrapper {
    padding: 5vw calc(10vw - 0.45rem) 5vw 10vw;
    width: calc(100vw - 20vw - 0.45rem);
  }
  #who .who-wrapper .title-wrapper span {
    font-size: 2rem;
  }
}

/* Responsive parts */
@media (max-width: 768px) {
  .who-wrapper .content-wrapper {
    flex-direction: column;
  }
  .who-wrapper .content-wrapper .text-content .quote {
    font-size: 1.5rem;
  }
  .who-wrapper .content-wrapper .spacing-bar {
    margin: 5px 45px;
    height: 4px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .who-wrapper .content-wrapper {
    flex-direction: column;
  }
  .who-wrapper .content-wrapper .text-content .quote {
    font-size: 1.7rem;
  }
  .who-wrapper .content-wrapper .spacing-bar {
    margin: 5px 45px;
    height: 4px;
  }
}
@media (min-width: 1025px) {
  .who-wrapper .content-wrapper {
    flex-direction: row;
  }
  .who-wrapper .content-wrapper .text-content .quote {
    font-size: 2rem;
  }
  .who-wrapper .content-wrapper .spacing-bar {
    margin: 45px 5px;
    width: 4px;
  }
}
.theme-switcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.theme-switcher .switch-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 160px;
  height: 50px;
  cursor: pointer;
  background-color: var(--theme-bg-popup);
  box-shadow: 0px 0px 5px rgba(var(--theme-highlight-RGB), 10%);
  margin-left: 10px;
}
.theme-switcher .switch-item .item-color {
  width: 50px;
  height: 50px;
}
.theme-switcher .switch-item .item-text {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .theme-switcher {
    flex-direction: column;
  }
  .theme-switcher .switch-item {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
