

html {
  scroll-behavior: smooth;
  width: 100%;
  background-color: $theme-bg;
  color: $theme-text;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

img {
    max-width: 80vw;
    height: auto;
}



/* Re-usable extensions */ 

%link_no_deco {
  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: $theme-text;
  }
}

%section_wrapper {
  display: flex;

  @include phone {
    padding: 5vw 5vw;
  }


  @include tablet {
    padding: 5vw 8vw;
  }


  @include desktop {
    padding: 5vw 10vw;
  }
}