


/* Themes */
.theme-light {
  --theme-text: #072849;
  --theme-bg: #f7f7e9;
  --theme-bg-popup: #fafaf5;
  --theme-highlight: #034d5e;
  --theme-highlight-RGB: 3, 77, 94;
}

.theme-dark {
  --theme-text: #f7f7e9;
  --theme-bg: #072849;
  --theme-bg-popup: #034d5e;
  --theme-highlight: #fafaf5;
  --theme-highlight-RGB: 250, 250, 245;
}

.theme-olivia {
  --theme-text: #f1beb0;
  --theme-bg: #2b2b2b;
  --theme-bg-popup: #303030;
  --theme-highlight: #f1beb0;
  --theme-highlight-RGB: 241, 190, 176;
}


// theme abstraction :
$theme-text: var(--theme-text);
$theme-bg: var(--theme-bg);
$theme-bg-popup: var(--theme-bg-popup);
$theme-highlight: var(--theme-highlight);
$theme-highlight-RGB: var(--theme-highlight-RGB);


/* Variables */

$h1-small: 2rem;
$h1-medium: 2.5rem;
$h1-big: 3rem;

$h2-small: 1.5rem;
$h2-medium: 1.7rem;
$h2-big: 2rem;

$h3-small: 1.1rem;
$h3-medium: 1.3rem;
$h3-big: 1.5rem;

$scollbar-size: 0.45rem;

$title-before-width: 3rem;
$content-padding-w: 3vw;
$content-padding-h: 2vw;
$content-padding: $content-padding-h $content-padding-w;


/* Resposive vars */

$tablet-width: 769px;
$desktop-width: 1025px;

$gutter-width-phone: 5vw;
$gutter-width-tablet: 8vw;
$gutter-width-desktop: 10vw;