

html {
  scroll-behavior: smooth;
  width: 100vw;
  background-color: $black;
}


%color {
  border: 1px solid #ccc;
  padding: 10px;
  // color: $primary-color;
}

.success {
  @extend %color;
  border-color: green;
}