#home {

  width: 100%;
  min-height: 100%;
  
  .home-wrapper {
    @extend %section_wrapper;

    .img-content {
      padding: $content-padding;
      flex: 0.45;

      img {
        width: 100%;
        height: auto;
      }
      
    }

    .text-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: $content-padding;
      flex: 0.55;

      .title-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 20px;
        opacity: 0.7;
  
        span {
          text-transform: uppercase;
        }
  
        &::before {
          @extend %title-before-decoration;
        }
      }
  
      .text-content {
        padding-bottom: 20px;

        .quote {
          margin: 0;
          padding-bottom: 40px;
        }
      }

    }

  }

}




/* Responsive parts */


@include phone {
  .home-wrapper {
    flex-direction: column-reverse;
    
    .text-wrapper {

      .title-wrapper {

        span {
          font-size: $h2-small;
        }

      }

      .text-content {

        .quote {
          font-size: $h1-small;
        }
      }
    }
  }
}


@include tablet {
  .home-wrapper {
    flex-direction: row;

    .text-wrapper {

      .title-wrapper {

        span {
          font-size: $h2-medium;
        }

      }

      .text-content {

        .quote {
          font-size: $h1-medium;
        }
      }
    }
  }
}


@include desktop {
  .home-wrapper {
    flex-direction: row;

    .text-wrapper {

      .title-wrapper {

        span {
          font-size: $h2-big;
        }

      }

      .text-content {

        .quote {
          font-size: $h1-big;
        }
      }
    }
  }
}