#home {
  @extend %cover-screen;
  
  .home-wrapper {

    @include section_wrapper {
      flex-direction: row;

      .img-content {
        flex: 0.45;
        padding: $content-padding;
  
        img {
          width: 100%;
          height: auto;
        }
      }
  
      .text-wrapper {
        flex: 0.55;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $content-padding;
    
        .title-wrapper {
          padding: 0;
          padding-bottom: 20px;
        }

        .text-content {
          padding-bottom: 20px;
  
          .quote {
            margin: 0;
            padding-bottom: 40px;
          }
        }
      }
    }
  }
}



/* Section specific responsive parts */


@include phone {
  .home-wrapper {
    flex-direction: column-reverse;
    
    .text-wrapper {

      .text-content {

        .quote {
          font-size: $h1-small;
        }
      }
    }
  }
}


@include tablet {
  .home-wrapper {
    flex-direction: column-reverse;
    
    .text-wrapper {

      .text-content {

        .quote {
          font-size: $h1-medium;
        }
      }
    }
  }
}


@include desktop {
  .home-wrapper {
    flex-direction: row;

    .text-wrapper {

      .text-content {

        .quote {
          font-size: $h1-big;
        }
      }
    }
  }
}