#what {
  @extend %cover-screen;

  .what-wrapper {

    @include section_wrapper{
      padding-top: 2vw;
  
      .title-wrapper {
        padding-bottom: 4vw;
      }
  
      .content-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
  
        .section-bg {
          position: absolute;
          height: 100%;
          width: calc(100vw - #{$scollbar-size});
          z-index: -1;
          background-color: $theme-bg-popup;
        }
  
        .carousel-wrapper { /* hide child overflow */
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          position: relative;
          height: 80vh;
          overflow-x: hidden;
          overflow-y: hidden;
  
          .carousel-content { /* slide underneath with 'left' property */
            display: flex;
            flex-direction: row;
            align-items: center;
            position: absolute;
            height: 80vh;
            top: 0;
            left: 0;
            transition: left 300ms ease-out;
  
            .item-wrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 80vh;
  
              .img-wrapper {
                height: 90%;
                width: 100%;
                background-color: $theme-bg-popup;
  
                img {
                  @extend %no-select; /* is annoying when you missclick and drag image */
                  height: 100%;
                  width: 100%;
                  object-fit: contain;
                  display: block;
                  transition: transform 200ms; /* animate the rotation */
                }
              }
            }
          }
  
          .slide-tracker-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 4vh;
  
            .slide-tracker-box {
              width: 10px;
              height: 10px;
              margin: 0 10px;
              background-color: rgba(180, 180, 180, 0.5);
            }
  
            .current-item {
              background-color: rgba(180, 180, 180, 0.8);
            }
          }
        }
  
        %carousel-button {
          @extend %no-select;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 50px;
          height: 50px;
          top: 50%;
          font-size: 1.5rem;
          z-index: 1;
          cursor: pointer;
          transform: translate(0, -50%);
          background-color: rgba(180, 180, 180, 0.5);
  
          &:hover {
            background-color: rgba(180, 180, 180, 0.8);
          }
        }
  
        .carousel-button-right {
          @extend %carousel-button;
          right: -5vw;
        }

        .carousel-button-left {
          @extend %carousel-button;
          left: -5vw;
        }

        .carousel-button-top {
          @extend %carousel-button;
          top: 40px;
          left: 50%;
          transform: translate(-50%, 0);
          border-radius: 50%;
          display: none; /* only display for phones */
        }
      }
    }
  }
}



/* Section specific responsive parts */


@include phone {
  #what {

    .content-wrapper{

      .section-bg {
        left: -($gutter-width-phone);
      }

      .carousel-button-top {
        display: flex !important;
      }

      .carousel-content {

        .item-wrapper {
          width: 100vw - ($gutter-width-phone*2);
          $tmp-width: 100vw - ($gutter-width-phone*2);

          .rotated-image { /* rotation for phones */
            transform: rotate(90deg) translate(0, -100%);
            transform-origin: top left;
            width: calc(80vh * 90 / 100) !important;
            height: $tmp-width !important;
          }
        }
      }
    }
  }
}


@include tablet {
  #what {

    .content-wrapper{

      .section-bg {
        left: -($gutter-width-tablet);
      }

      .carousel-content {
        .item-wrapper {
          width: 100vw - ($gutter-width-tablet*2);
        }
      }
    }
  }
}


@include desktop {
  #what {

    .content-wrapper{

      .section-bg {
        left: -($gutter-width-desktop);
      }

      .carousel-content {
        .item-wrapper {
          width: 100vw - ($gutter-width-desktop*2);
        }
      }
    }
  }
}