#what {
  width: 100%;
  min-height: 100%;

  .what-wrapper {
    @extend %section_wrapper;
    flex-direction: column;
    // overload padding-top
    padding-top: 2vw;

    .title-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: $content-padding;
      // overload padding-bottom
      padding-bottom: 4vw;
      opacity: 0.7;

      span {
        text-transform: uppercase;
      }

      &::before {
        @extend %title-before-decoration;
      }

    }

    .content-wrapper {
      display: flex;
      flex-direction: column;
      position: relative;

      .section-bg {
        position: absolute;
        height: 100%;
        width: calc(100vw - #{$scollbar-size});
        z-index: -1;
        background-color: $theme-bg-popup;
      }

      .carousel-wrapper {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        align-items: center;
        height: 80vh;
        overflow-x: hidden;
        overflow-y: hidden;

        .carousel-content {
          display: flex;
          flex-direction: row;
          position: absolute;
          align-items: center;
          height: 80vh;
          top: 0;
          left: 0;

          transition: left 300ms ease-out;

          .item-wrapper {
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;

            .img-wrapper {
              height: 90%;
              width: 100%;
              background-color: $theme-bg-popup;

              img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                display: block;

                transition: transform 200ms;

                @extend %no-select;
              }
            }

          }
        }

        .slide-tracker-wrapper {
          display: flex;
          flex-direction: row;
          height: 4vh;
          align-items: center;

          .slide-tracker-box {
            background-color: rgba(180, 180, 180, 0.5);
            width: 10px;
            height: 10px;
            margin: 0 10px;
          }

          .current-item {
            background-color: rgba(180, 180, 180, 0.8);
          }
        }
        
      }

      %carousel-button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 1.5rem;
        background-color: rgba(180, 180, 180, 0.5);
        z-index: 1;
        cursor: pointer;
        @extend %no-select;

        &:hover {
          background-color: rgba(180, 180, 180, 0.8);
        }
      }

      .carousel-button-right {
        @extend %carousel-button;
        right: -5vw;
      }
      .carousel-button-left {
        @extend %carousel-button;
        left: -5vw;
      }
      .carousel-button-top {
        @extend %carousel-button;
        top: 40px;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 50%;
        display: none; // only display for phones
      }
    }

  }

}



/* Responsive parts */


@include phone {
  #what {

    .title-wrapper {

      span {
        font-size: $h2-small;
      }

    }

    .content-wrapper{

      .section-bg {
        left: -($gutter-width-phone);
      }

      .carousel-button-top {
        display: flex !important;
      }

      .carousel-content {
        .item-wrapper {
          
            width: 100vw - ($gutter-width-phone*2);
            $tmp-width: 100vw - ($gutter-width-phone*2);
  
            // rotation for phones
            .rotated-image {
              transform: rotate(90deg) translate(0, -100%);
              transform-origin: top left;
              width: calc(80vh * 90 / 100)!important;
              height: $tmp-width !important;
            }
        }
      }
    }
  }
}


@include tablet {
  #what {

    .title-wrapper {

      span {
        font-size: $h2-medium;
      }

    }
    .content-wrapper{

      .section-bg {
        left: -($gutter-width-tablet);
      }

      .carousel-content {
        .item-wrapper {
          
            width: 100vw - ($gutter-width-tablet*2);
          
        }
      }
    }
  }
}


@include desktop {
  #what {

    .title-wrapper {

      span {
        font-size: $h2-big;
      }

    }

    .content-wrapper{

      .section-bg {
        left: -($gutter-width-desktop);
      }

      .carousel-content {
        .item-wrapper {
          
            width: 100vw - ($gutter-width-desktop*2);

        }
      }
    }
  }
}