#where {
  @extend %cover-screen;

  .where-wrapper {

    @include section_wrapper {
      height: calc(100% - 10vw);
  
      .content-wrapper {
        display: flex;
        height: 100%;
  
        .img-content {
          padding: $content-padding;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
  
        .cards-wrapper {
          @extend %link_no_deco;
          flex: 1;
          display: flex;
          flex-direction: column;
          padding: $content-padding;
  
          .card {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            background-color: $theme-bg-popup;
            box-shadow: 0px 0px 5px rgba($theme-highlight-RGB, 10%);
  
            &:not(:first-child){
              margin-top: 5%;
            }
  
            .icon-label {    
              flex: 1;
              display: flex;
              justify-content: center;
  
              span {
                display: flex;
                justify-content: flex-start;
                width: 80%
              }
            }
  
            &:hover {
              background-color: $theme-bg-popup;
              box-shadow: 0px 0px 5px rgba($theme-highlight-RGB, 20%);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}



/* Section specific responsive parts */


@include phone {
  .where-wrapper {
  
    .content-wrapper {
      flex-direction: column;

      .img-content {
        min-height: 50vh;
      }

      .card{

        .icon {
          height: 40px;
          width: 40px;
        }
  
        .icon-label {
          font-size: $h3-small;
        }
      }
    }
  }
}


@include tablet {
  .where-wrapper {

    .content-wrapper {
      flex-direction: column;

      .img-content {
        min-height: 50vh;
      }

      .card{
        .icon {
          height: 50px;
          width: 50px;
        }
  
        .icon-label {
          font-size: $h3-medium;
        }
      }
    }
  }
}


@include desktop {
  .where-wrapper {

    .content-wrapper {
      flex-direction: row;


      .img-content {
        flex: 1;
      }

      .icon {
        height: 80px;
        width: 80px;
      }

      .icon-label {
        font-size: $h3-big;
      }
    }
  }
}