#where {
  width: 100%;
  min-height: 100%;

  .where-wrapper {
    @extend %section_wrapper;

    .title-wrapper {
      padding-bottom: 20px;

      span {
        font-size: 2rem;
      }

    }

    .content-wrapper {
      display: flex;
      flex-direction: column;

      .text-content {
        padding-bottom: 20px;
      }

      .img-content {

        img {
          width: 50vw;
          height: auto;
        }
      }
    }

  }

}